.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color: #fff, $alpha: .08);
    backdrop-filter: blur(5px);
    min-width: 250px;
    max-width: 500px;
    padding: 16px;
    border-radius: 5px;
    box-shadow: inset -3px -3px 10px rgba($color: #fff, $alpha: .28);
    color: #fff;
    margin-top: 30px;

    &__location {
        font-size: 26px;
    }

    &__country {
        font-size: 16px;
        font-weight: 200;
        margin-top: -5px;
    }

    &__temperature {
        font-size: 62px;
        font-weight: bold;
        // line-height: .8;
    }

    figure {
        position: relative;
        width: 128px;
        aspect-ratio: 1 / 1;
    }
}