.container {
  width: 100%;
  max-width: 900px;
  flex: 1;
  position: relative;
  background-image: url('../assets/images/night-bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.day {
  background-image: url('../assets/images/day-bg.jpg');
}
