.container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    row-gap: 5px;
    column-gap: 10px;
    color: #fff;
    margin-top: 10px;
    li {
        text-align: center;
        div {
            display: flex;
            gap: 5px;
            width: 100%;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            figure {
                position: relative;
                width: 20px;
                aspect-ratio: 1 / 1;
            }
        }
    }
}